.mountain1 {
    position: relative;
    top: 500px;
    left: 500px;
}

.mountain2 {
    position: relative;
    top: 200px;
    right: 100px;
}

.mountain3 {
    position: relative;
    top: 10px;
    left: 400px;
} 

body {
    background-color: #eaf6f6;
}



.Hone {
    font-family: 'Sacramento', cursive;
    text-align: center;
    position: relative;
    top: 380px;
    color: #66BFBF;
    font-size: 60px;
}

.Htwo {
    text-align: center;
    position: relative;
    top: 400px;
    color: #66BFBF;
    font-size: 40px;
    font-family: 'Sacramento', cursive;
}

.man{
    position: relative;
    top: 700px;
    left: 0px;
}

.hi{
    text-align: center;
    position: relative;
    left: 60px;
    top: 700px;
    color: #66BFBF;
}

.p11 {
    text-align: center;
    position: relative;
    left: 60px;
    top: 700px;
    color: #40514E;
    
}

hr {
    position: relative;
    top: 720px;
    left: 50px;
    border: 2px dotted  black;
    width: 20%;
    
}

.H22 {
    text-align: center;
    position: relative;
    left: 60px;
    top: 750px;
    color: #66BFBF;
}

.design {
    text-align: center;
    position: relative;
    right: 65px;
    top: 770px;
    color: #66BFBF;
}

.p2 {
    text-align: center;
    position: relative;
    left: 60px;
    top: 750px;
    color: #40514E;

}

#image1{
    position: relative;
    top: 600px;
    left: 400px;
}

.hot {
    
    position: relative;
    left: 280px;
    top: 650px;
    color: #66BFBF;
}

.p3{
    position: relative;
    left: 280px;
    top: 640px;
    color: #40514E;

}

.pepper{
    position: relative;
    left: 690px;
    top: 560px;
}


.h222 {
    text-align: center;
    position: relative;
    left: 60px;
    top: 610px;
    color: #66BFBF;
}

.h333{
    position: relative;
    left: 600px;
    top: 600px;
    color: #66BFBF;
}


.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 600px;
    left: 660px;
}
  
.btn:hover {
    background:  #b10e80;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
}






